body{
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/716/496/desktop-wallpaper-minimalist-car-minimal-car.jpg");
    background-size: 2000px ;
}

img{
    margin-top: 5%;
    border-radius: 20px;
}

h3{
    color: white;
}
h2{
     color: white;
}

p{
    color: white;
}